// vsc の format コマンドで整形されたし

.animals-info{
  //セクション区切りの余白 <- どういう意味？
  position: relative;
  &__row{
      position: relative;
      height:378px;
      margin:0px;
      // インデントがおかしい
      @include pc(){
      margin:0 -16px;
      height: 488px;
    }
  }
  &__col{
      padding:0;
      position:absolute;
      // 0の場合px不要
      bottom:0px;
      // インデントおかしい
        @include pc(){
        padding:0 16px;
        bottom:32px;
      }
      //表示崩れ対策
      @media screen and (min-width: 1100px){
        width: calc(5/12 * 100%);
    }
    
  }
  &__h1{
    // 省略してこうかける 16px 16px 8px
    padding:16px 16px 8px 16px;
    line-height: 24px;
    @include pc(){
    line-height:44px;
    // 省略してこうかける 24px 14px 16px
    padding:24px 24px 16px 24px;
    }
  }

  &__p{
    //XDのpaddingそのまま入力
    padding:0 16px 32px 16px;
    line-height: 24px;
    @include pc(){
      line-height: 24px;
      // 省略してこうかける 0 24px 24px
      padding:0px 24px 24px 24px;
    }
  }
} 

.carousel{
  &-A{
    // ルート相対パス指定がのぞましい　
    // ショートハンド使える background: url() center/cover no-repeat;
    background-image:url(./images/ezohiguma.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    @include pc(){
      // px不要
      background-position: 0px 0px;
    }
  }
  &-B{
    // ルート相対パス指定がのぞましい　
    // ショートハンド使える background: url() center/cover no-repeat;
    background-image:url(./images/oowashi.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    @include pc(){
      // px不要
      background-position: 0px 0px;
    }
  }
  &-C{
    // ルート相対パス指定がのぞましい　
    // ショートハンド使える background: url() center/cover no-repeat;
    background-image:url(./images/tokage.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    @include pc(){
      // px不要
      background-position: 0px 0px;
    }
  }
}

.animals-detail{
  // px不要
  padding:0px;
  margin: 0 -32px;
  //表示崩れ対策
  @media screen and (min-width: 1128px){
    padding: 0 32px;
    // px不要
    margin: 0px;
    box-sizing:border-box;
  }
}
//slick 設定 <- このコメントの位置、書き方的にピンとこない。やるならもっと目立つ装飾でセパレートしたほうがよい

// -------------------
// Slick 設定
// -------------------


//左右の矢印　設定

// コメントの書き方がなぜかブロックコメント。問題ないが、ぶれているのは理由が？
/*左右の矢印の色を変える*/
.slick-prev:before,
.slick-next:before {
    color: #000;
}

.slick-prev, .slick-next {
  width:56px; /* 画像幅 */
  // セミコロンがない。なくてもよいが、他に合わせてセミコロン欲しい
  height:56px /* 画像高さ */
}
.slick-prev:before, .slick-next:before {
  content:"";
}
/*左右の矢印の位置を変える*/
.slick-next {
  //SP時は非表示
  display: none;
  @include pc(){
    display: block;
    top:242px;
    right: 32px;
    z-index:9999;
  }
  @media screen and (min-width: 1128px){
    right:140px;
  }
}
.slick-prev {
  display: none;
  @include pc(){
    display: block;
    top:242px;
    z-index: 9999;
    left:32px;
   @media screen and (min-width: 1128px){
      left:140px;
   }
  }
}
//スライダー下dotボタン
.slick-dotted.slick-slider
{
  //defaultの余白を打ち消し
  // px不要
    margin-bottom: 0px;
}
.slick-dots {
  font-size:8px;
  // px不要
  margin-bottom:0px;
  right:8px;
  bottom: 8px;
  li{
    width:8px;
    height:8px;
    margin: 0 8px;
    button {
      &:before{
        color: rgba(255,255,255,0.4);
      }
    }
    &.slick-active button:before{
      color: #fff;
    }
  }
}



