.animals-list{
  padding: 32px 0;
  background-color:#fafafa;

  &__title{
//セクションタイトルと説明を中央寄せ
    text-align: center;
  }
  @include pc(){
    padding: 80px 0;
  }
}
.animal-rows{
//カードリスト全体の周りのpadding
  padding:16px 0 0 0;
  @include pc(){
    padding:24px 32px 16px;
  }
}
.animal-row{
//カードを中央配置へ
  justify-content: center;
  @include pc(){
    display: flex;
    flex-wrap: wrap;
    margin: 0 -16px;
  }
}
.animal-col{
//カード周りのpadding 左右と下
    padding: 0 0 16px 0;
  @include pc(){
//flexの性質を利用して全て同じ高さに
    display:flex;
    padding: 0 16px 16px 16px; 
  }
}

.additional-row{
  display: none;
}

//アコーディオンボタン default 下向き
.ac-btn{
  margin: 0 auto;
  background-color: #04a7ad;
  display: block;
  height: 40px;
  width: 40px;
  border-radius:50%;
  box-shadow: $shadow-md;
  background-repeat: no-repeat;
  background-image: url('./images/shitasankaku.png');
  //背景に合うようにリサイズ
  background-size: 100% 100%;
  @include pc(){
    height: 80px;
    width: 80px;
 }
  &.up{
     //画像は三角マークのみ
     
    background-image: url('./images/uesankaku.png');
    display:none;
    @include pc(){
      display: block;
    }
  }
}

