.animals-info{
  //セクション区切りの余白
  padding-bottom:32px;
  position: relative;
  @include pc(){
    padding-bottom:80px;
  }
  &__row{
    position: relative;
     height:378px;
     margin:0px;
      @include pc(){
      margin:0 -16px;
      height: 488px;
    }
  }
  &__col{
      padding:0;
      position:absolute;
      bottom:0px;
        @include pc(){
        padding:0 16px;
        bottom:32px;
      }
      //表示崩れ対策
      @media screen and (min-width: 1100px){
        width: calc(5/12 * 100%);
    }
    
  }
  &__h1{
    //XDのpaddingそのまま入力
    padding:16px 24px 16px 16px;
    line-height: 24px;
    @include pc(){
    line-height:44px;
    padding:20px 24px 16px 20px;
    }
  }

  &__p{
    //XDのpaddingそのまま入力
    padding:0 20px 30px 24px;
    line-height: 22px;
    @include pc(){
      line-height: 24px;
      padding:0px 20px 24px 20px;
    }
  }
} 

.carousel{
  &-A{

    background-image:url(../images/ezohiguma.jpg);
    background-repeat: no-repeat;
    background-size:cover;
  }
  &-B{
    background-image:url(../images/オオワシ.jpg);
    background-repeat: no-repeat;
    background-size:cover;
  }
  &-C{
    background-image:url(../images/クロイワトカゲモドキ.jpg);
    background-repeat: no-repeat;
    background-size:cover;
  }
}

.animals-detail{
  padding:0px;
  margin: 0 -32px;
  //表示崩れ対策
  @media screen and (min-width: 1128px){
    padding: 0 32px;
    margin: 0px;
    box-sizing:border-box;
  }
}
//slick 設定

.arrows-wrapper{
  position: absolute;
  top:0;
  z-index: -9;
}
.arrow-container{
  max-width: 1064px;
  height:488px;
  position:relative;
  z-index: -99;
  padding:0 32px;
  box-sizing: border-box;
}

.slick-dotted.slick-slider
{
  //defaultの余白を打ち消し
    margin-bottom: 0px;
}

/*左右の矢印の色を変える*/
.slick-prev:before,
.slick-next:before {
    color: #000;
}

.slick-prev, .slick-next {
  width:56px; /* 画像幅 */
  height:56px /* 画像高さ */
}
.slick-prev:before, .slick-next:before {
  content:"";
}
/*左右の矢印の位置を変える*/
.slick-next {
  display: none;
  @include pc(){
    display: block;
    top:242px;
    right: 32px;
    z-index:9999;
  }
  @media screen and (min-width: 1128px){
    right:140px;
  }
}
.slick-prev {
  display: none;
  @include pc(){
    display: block;
    top:242px;
    z-index: 9999;
    left:32px;
   @media screen and (min-width: 1128px){
      left:140px;
   }
  }
}
//スライダー下dotボタン
.slick-dots {
  font-size:8px;
  margin-bottom:0px;
  right:8px;
  bottom: 8px;
  @include pc(){
    right:8px;
    bottom:8px;
  }

  li{
    width:8px;
    height:8px;
    margin: 0 8px;
    button {
      &:before{
        color: rgba(255,255,255,0.4);
      }
    }
    &.slick-active button:before{
      color: #fff;
    }
  }
}



