.card {
  width: 100%;
  margin-bottom: 16px;
  box-shadow: $shadow-md;
}

.card__img-outer {
  min-height: 200px;
  background-color: $color-accent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.card__img {
  padding: 0 16px;
  box-sizing: border-box;
  min-height: 200px;
}


.card__description {
  padding: 8px 0;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  color: $color-accent;
  background-color: $color-main;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
