.card {
  display: flex;
  flex-direction: column;
  width: 256px;
  height: 251px;
  background-color: #FFF;
  border-radius: 3px;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,.16);

  .card__img {
    height: 140px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .card__description {
    height: 111px;
    padding: 16px 15px;
  }

  @include pc() {
      width: 312px;
  }
}