.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: $shadow-md;
  margin: 0 auto;
  @include pc() {
    max-width: 312px;
  }

  .card__img {
    min-height: 140px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
  }

  .card__description {
    padding: 0 16px;
    @include pc{
      min-height:112px;
    }
  }
}