.filter-btns-area {
  display: none;
  @include tb() {
    display: block;
    margin-top: 32px; //containerと一緒に使うためバラバラに
    margin-bottom: 32px; //filter-btnのmargin-bottom分少なく
  }
}


.wrap-filter-btn {
  padding: 0;//colのpaddingクリア
}

.row--filter {
  margin: 0;//rowのマージンクリア
}

.filter-btn {
  $height: 40px;
  height: $height;
  line-height: $height;
  border: 1px solid #333333;
  box-sizing: border-box;
  background-color: $color-main;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  &:hover {
    background-color: blue;
    color:$color-main;
    box-shadow: $shadow2-md;
  }
}

.js-filter-current {
  background-color: $color-accent;
  color: $color-main;
}

.filter-description {
  $height: 40px;
  height: $height;
  line-height: $height;
  background-color: $color-accent;
  color: $color-main;
}