.footer{

  background-color: #ECECEC;

  &__wrapper{
    display:flex;
    flex-flow: column;
    justify-content: space-between;
    height: 168px;
    @include pc(){
      height:118px;
    }
  }

  &__nav{
    font-size:13px;
    line-height:16px;
    padding:16px 0 0 0;
    @include pc(){
      padding: 32px 32px 0px 32px;
    }

    &-item{
      display: block;
      padding:0 0 11px 0;
      @include pc(){
        display:inline;
        padding:0 32px 0 0;
      }
    }
  }

  &__copyright{
    padding:0 0 16px 0;
    font-size:14px;
    line-height:17px;
    @include pc(){
      padding:0 32px 16px 32px;
    }
  }
}