// 全体的に整形されたし

.hdg {
  font-size: 24px;
  padding-bottom: 16px;
  line-height: 36px;
  color: #333;
  @include pc() {
    font-size: 34px;
    line-height: 48px;
    padding-bottom: 24px;
  }
  span {
    @include pc() {
      display: block;
    }
  }

  &--card {
    font-size: 16px;
    margin-bottom: 8px;
    line-height: 24px;
    color: #333;
    padding-top: 16px;
    span {
      @include pc() {
        display: block;
      }
    }
  }

  &--plate {
    font-size: 16px;
    line-height: 24px;
    // 省略 16px(上) 16px(左右) 8px(下)
    // 3つにすると、上、左右、下の指定になる。
    padding: 16px 16px 8px 16px;
    color: #fff;
    @include pc() {
      // 3つにすると、上、左右、下の指定になる。省略可能
      padding: 24px 24px 16px 24px;
      line-height: 44px;
      font-size: 34px;
    }
    span {
      @include pc() {
        display: block;
      }
    }
  }
}