.hdg {
  font-size: 24px;
  padding-bottom: 16px;
  line-height: 36px;
  color: #333;
  @include pc() {
    font-size: 34px;
    line-height: 48px;
    padding-bottom: 24px;
  }
  span {
    @include pc() {
      display: block;
    }
  }

  &--card {
    font-size: 16px;
    margin-bottom: 8px;
    line-height: 24px;
    color: #333;
    padding-top: 16px;
    span {
      @include pc() {
        display: block;
      }
    }
  }

  &--plate {
    font-size: 16px;
    line-height: 24px;
    padding: 16px 16px 8px 16px;
    color: #fff;
    @include pc() {
      padding: 24px 24px 16px 24px;
      font-size: 34px;
    }
    span {
      @include pc() {
        display: block;
      }
    }
  }
}