.animals-knowledge {
  background-color: #fafafa;
}

.knowledge {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 32px;
  @include pc(){
    padding: 80px 0;
  }
  &-text {
    width: 100%;
  }
  &__content {    
    background: center/cover no-repeat;
    margin-top: 16px;
    @include pc(){
      height: 666px;  
      margin-top: 48px;
      padding-top: 32px;
      box-sizing: border-box;
    }
    & .tab {
      margin: 0 auto;
      border-radius: 0;
      @include pc(){
        border-radius: 3px;
      }
    }
  }
  &-wrap {
    //plateの位置をflexにて指定
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 480px;
    ///IE11ハック 背景高さ固定///
    @media all and (-ms-high-contrast:none){
      min-height: 0;
      height: 520px;
    }
    ///IE11ハック ここまで///
    @include pc(){
      height: 100%;
      margin-top: -48px;
    }
  }
  &-plate {
    display: none;
    //文字左揃え
    text-align: left;
    @include pc(){
      margin: 0 32px 32px 0;
      max-width: 442px;
    }
  }
}

.tab-content--active {
  display: block;
}