.container {
  max-width: $pc-large-width;
  padding: 0 16px;
  box-sizing: border-box;
  margin: 0 auto;
  @include tb(){
    padding: 0 32px
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -16px;
}

/* ---------------------------------------------------------------------------------------------------------------
   カラム
--------------------------------------------------------------------------------------------------------------- */
//col--12         sp時カラム12個分
//col-tb--8       タブレット(小)時カラム8個分
//col-tblg--6    タブレット(大)時カラム6個分
//col-pc--3       PC時カラム3個分
//col-pclg

//col-offset--2
//col-tb-offset--2    それぞれの表示時左に数値分カラムのマージンをとる
@function getColumnWidth($numberOfColumn){
  @return $numberOfColumn/12 * 100%;
}

.col {
  padding: 0 16px;
  box-sizing: border-box;
  @for $i from 1 through 12 {
    &--#{$i}{
      width: getColumnWidth($i);
    }
    &-offset--#{$i} {
      margin-left: getColumnWidth($i);
    }
  }
  $size-types : (tb: $tablet-width, tblg: $tablet-large-width, pc: $pc-width, pclg: $pc-large-width);
  @each $size-type, $width in $size-types {
    @for $i from 1 through 12 {
      @media (min-width: #{$width}){
        &-#{$size-type}--#{$i}{
          width: getColumnWidth($i);
        }
        &-#{$size-type}-offset--#{$i} {
          margin-left: getColumnWidth($i);
        }
      }
    }
  }
}