.message {
  flex-direction: column;
  padding: 32px 0;
  @include pc() {
    height: 335px;
    align-items: center;
    justify-content: center;
  }
  &__img {
    &-0 {
      max-height: 120px;
      display: block;
      margin: 0 auto;
      padding-bottom: 26px;
      @include pc() {
        max-height: 223px;
        padding-bottom: 0;
      }
    }
  }
  &__about {
    max-width: 256px;
    margin: 0 auto;
    @include pc() {
      max-width: 485px;
    }
    &-0 {
      text-align: center;
      @include pc() {
        text-align: left;
      }
    }
    &-1 {
      margin-bottom: 20px;
      @include pc() {
        margin-bottom: 0;
      }
    }
    &-2 {
      display: none;
      @include pc() {
        display: block;
      }
    }
  }
}