.message {
  flex-direction: column;
  @include pc() {
    height: 335px;
    align-items: center;
    justify-content: center;
  }
  &__img {
    &-0 {
      max-height: 223px;
      display: block;
      margin: 0 auto;
    }
  }
  &__about {
    @include pc() {
      max-width: 523px;
      padding-left: 5px;
      padding-right: 32px;
    }
    &-0 {
      text-align: center;
      @include pc() {
        text-align: left;
      }
    }
    &-1 {
      margin-bottom: 20px;
      @include pc() {
        margin-bottom: 0;
      }
    }
    &-2 {
      display: none;
      @include pc() {
        display: block;
      }
    }
  }
}