.sentence {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 20px;
  color: #333;
  &:last-child {
    margin-bottom: 0;
  }

  &--card {
    font-size: 12px;
    margin-bottom: 0;
    @include pc() {
      font-size: 14px;
    }
  }
  
  &--plate {
    font-size: 12px;
    margin-bottom: 0;
    color: #fff;
    @include pc() {
      font-size: 14px;
    }
  }
}