.tab {
  display: flex;
  overflow-x: scroll;
  max-width: 593px;
  background-color: #fff;
  border-radius: 3px;
  @include pc() {    
    overflow-x: hidden;
  }

  &-item {
    font-size: 12px;
    line-height: 48px;
    flex-grow: 1;
    border-right: 1px solid #ddd;
    white-space: nowrap;
    & a {
      display: inline-block;
      text-align: center;
      padding: 0 8px;
      @include pc(){
        padding: 0 16px;
        font-size: 14px;
      }
    }

    //aタグの最後の要素に適用
    &--last {
      border-right: none;
    }
    
    &--active {
      background-color: #04a7ad;
      color: #fff;
    }
  }
}