.top {
  display: flex;
  padding-top: 40px;
  margin-top: -40px;
  height: 206px;
  align-items: center;
  justify-content: center;
  @include pc() {
    padding-top: 64px;
    margin-top: -64px;
    height: 463px;
    justify-content: left;
  }
  &__title {
      font-size: 20px;
      line-height: 80px;
      white-space: nowrap;
      color: #fff;
      @include pc() {
        font-size: 40px;
        margin-top: 0;
      }
    }
  &-bg {
    height: 246px;
    background: url(../images/top背景.jpg);
    background-size: cover;
    background-position: center;
    @include pc() {
      height: 527px;
    }
  }
}