//shadow-value
$shadow-md: 0 3px 6px rgba(#000, .16);
$shadow2-md: 0 3px 16px rgba(#000, .9);

//mixins breakpoint
$sp-width: 599px;
$tablet-width: 600px;
$tablet-large-width: 768px;
$pc-width: 960px;
$pc-large-width: 1280px;


//色指定
$color-base: #F03861;
$color-main: #FFFFFF;
$color-accent: #393939;