//shadow-value
$shadow-md: 0 3px 6px rgba(#000, .16);

//mixins breakpoint
$sp-width: 599px;
$desktop-width: 600px;
// desktopよりtabletが大きいのはおかしい
$tablet-width: 768px;
$Extralarge-width: 992px;

// どこからも使われていない上に内容も謎
//スクロールバーの幅のマイナス値取得
$scroll-width: calc(-100vw + 100%);